
// Converted Variables
$form-field-padding-x: .5rem !default;
$form-field-padding-y: .5rem !default;
$form-field-height: 2.25rem !default;
$border-radius: 3px !default;
$border-width: 1px !default;
$h5: .875rem !default;
$space-1: .5rem !default;
$space-2: 1rem !default;
$gray: #aaa !default;

/* Basscss Forms */

.label {
  font-size: $h5;
  font-weight: bold;
  display: block;
  margin-bottom: $space-1;
}

.input {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: $form-field-height;
  padding: $form-field-padding-y $form-field-padding-x;
  margin-bottom: $space-2;
  border: $border-width solid $gray;
  border-radius: $border-radius;
}

.select {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: $space-1;
  margin-bottom: $space-2;
  border: $border-width solid $gray;
  border-radius: $border-radius;
}

.textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  padding: $space-1;
  margin-bottom: $space-2;
  border: $border-width solid $gray;
  border-radius: $border-radius;
}
